<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Média De Voltas do GP</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
<body class="bg-gray-200">
    <div id="root"></div>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <!-- lucide-react (ícones usados no seu componente) -->
  <script src="https://unpkg.com/lucide-react/dist/lucide-react.umd.js"></script>

  <!-- seu componente -->
  <script type="text/babel" data-type="module" src="{{ url_for('static', filename='static/js/media.jsx') }}"></script>

  <!-- montar o componente -->
  <script type="text/babel">
    const root = ReactDOM.createRoot(document.getElementById("root"));
    root.render(React.createElement(GPLaptimeAnalysis));
  </script>

</body>
</html>

